*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: Courier;
    color: #ffffff;
}

.menu {
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position:  -webkit-sticky;
    top: 0;
    background: green;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'cosmic sans ms';
    color: green;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: green;
}

a.tbl-hijau{
    background: green;
    font-family: 'comic sans ms';
    font-size: 20px;
    color: #ffffff;
    border-radius: 30px;
    padding: 15px 20px 15px 20px;

}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.perhatian {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.gambar-list {
    width: 30%;
    margin: 0 auto;
}

.gambar-list img {
    width: 100%;
}

.partners {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.partners-list {
    width: 30%;
    margin: 0 auto;
}

.partners-list img{
    width: 100%;
}